<%- include('partials/header') -%>

<main>
    <section class="card">
        <section>
            <h1>To-Dos</h1>
            <h2><%= user.userName %> has <%= left %> things left to do.</h2>
            <span class="notice">Click the task to mark complete and incomplete.</span>
            <ul>
                <% todos.forEach( el => { %>
                        <li class='todoItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                            <span><%=el.date%></span>
                            <span><%=el.time%></span>
                            <button class="del fa-solid fa-trash-can"></button>
                            <button class="update fa-regular fa-pen-to-square"></button>
                        </li>
                <% }) %>    
             </ul>
        </section>
        <section class="bottom">
            <h2 id="create">Create a New To-Do:</h2>
            <form class="input-group container d-flex align-items-center" action="/todos/createTodo" method='POST'>
                <div>
                    <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                </div>
                <div>
                    <input type="date" placeholeer="Enter date" name ='date'> 
                    <input type="time" placeholder="Enter time" name="time">
                </div>
                <div> <input type="submit" class="submit"> </div>
            </form>
        </section>    
    </section>
</main>

    <script src="js/main.js"></script>

<%- include('partials/footer') -%>